/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require skeleton-scss
 *= require_self
 */

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts";
@import "font-awesome/scss/font-awesome";

form
{
    margin-top: 3rem;
}

.upvotes
{
  cursor: pointer;
  display: inline-block;

  min-width: 2rem;
  padding: .3rem 1rem;

  text-align: center;

  border: solid 1px #ddd;
}

.post__title
{
  font-size: 2rem;
}

.post__comment-body
{
  margin-left: 2.5rem;
}

.menu {
  list-style: none;
  display: inline-block;
}

.menu__item {
  display: inline-block;
  margin-left: .5rem;
}
