<!DOCTYPE html>
<html>
<head>
  <title>Flapper News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="flapperNews">

  <header class="site-header container">
    <div class="site-branding">
      <h4 class="site-title">Flapper News</h4>
    </div>

    <div ng-include="'nav/_nav.html'"></div>
  </header>

  <div class="container">

    <div class="message-box">
       <p id="error-message"></p>
    </div>
  	
    <ui-view></ui-view>
  </div>

</body>
</html>
